@{
    ViewData["Title"] = "Akses Ditolak";
}

<h1 class="display-4 text-center">Akses Ditolak</h1>
<a class="text-center btn-link" asp-action="index" asp-controller="Home" asp-area=""><h5>Kembali ke halaman utama</h5></a>