@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h4>Error!</h4>
    <p>Jika anda melihat error ini, tolong bantu developer dengan cara mengontak <a href="mailto:cs@@OrigamiEdu.com">cs@OrigamiEdu.com</a> dan menyertakan info error yang ada.</p>
</div>

<div class="container" style="border: 2px solid red;">
    <h5>Info Error<h5>
    <p>@ViewBag.ErrInfo</p>
</div>
