@{
    ViewData["Title"] = "Admin/Ubah Provinsi";
}
@model Provinsi
<div class="text-center">
    <h4>Edit Data Provinsi</h4>
</div>

<form asp-action="edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" readonly asp-for="ID">
    <div class="form-group">
        <label class="form-label">Nama Provinsi</label>
        <input id="provinsi" type="text" class="form-control" asp-for="provinsi">
        <span asp-validation-for="provinsi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href='@Url.Action("index", "Provinsi", new{Area="Administrator"})' class="btn btn-outline-dark">Batal</a>
    </div>
</form>


@section Scripts{
    <script>
        document.getElementById('provinsi').focus();

        if(!("@TempData["message"]" === ""))
        {
            alert("@TempData["message"]");
        }
    </script>
}